<br>
<br>
<div class="section-heading">
  <p id="notice"><%= notice %></p>
</div>
<br>

<div class="section-heading">
  <p>
    <%= link_to image_tag(@profile.image.url(:large)), @profile.image.url %>
    <strong>Name:</strong>
    <%= @profile.name %>
  </p>
</div>
<br>

<div class="section-heading">
  <p>
    <strong>Birthday:</strong>
    <%= @profile.birthday %>
  </p>
</div>
<br>

<div class="section-heading">
  <p>
    <strong>About me:</strong>
    <%= @profile.about_me %>
  </p>
</div>

<br>
<div class="section-heading">
<h6><%= link_to 'Edit', edit_profile_path(@profile) %></h6>
<!-- <h6><%= link_to 'Back', profiles_path %></h6> -->
</div>
