<p id="notice"><%= notice %></p>

<h1>Listing Foodies</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>User name</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foodies.each do |foody| %>
      <tr>
        <td><%= foody.first_name %></td>
        <td><%= foody.last_name %></td>
        <td><%= foody.email %></td>
        <td><%= foody.user_name %></td>
        <td><%= foody.password %></td>
        <td><%= link_to 'Show', foody %></td>
        <td><%= link_to 'Edit', edit_foody_path(foody) %></td>
        <td><%= link_to 'Destroy', foody, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foodie', new_foody_path %>
