    <!-- NAVBAR -->
    <!-- NAVIGATION ELEMENTS -->
    <nav class="navbar navbar-custom">
      <div class="container">
        <!-- Navbar Header and Branding -->
          <p class="navbar-text navbar-left">Search Reviews</p>
        <!-- SEARCH FIELDS -->
        <form class="navbar-form navbar-left" role="search" action="/search/new_search" method="get">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search by Cuisine" name="cuisine">
            <input type="text" class="form-control" placeholder="Search by Location" name="postal">

            <!-- Single button -->
            <select class="selectpicker" name="price">
              <option value=""> Price </option>
              <option value="10">$1-$10</option>
              <option value="20">$11-$20</option>
              <option value="21+">$21 + Up</option>
            </select>

            <select class="selectpicker" name="rating">
              <option value=""> Rating </option>
              <option value="1">&#x272D;</option>
              <option value="2">&#x272D;&#x272D;</option>
              <option value="3">&#x272D;&#x272D;&#x272D;</option>
              <option value="4">&#x272D;&#x272D;&#x272D;&#x272D;</option>
              <option value="5">&#x272D;&#x272D;&#x272D;&#x272D;&#x272D;</option>
            </select>

          </div> <!-- END CLASS FORM GROUP -->
          <button type="submit" class="btn btn-info nav" id="find_it">Find It</button>
        </form>
        <!-- END SEARCH FIELDS -->

      </div> <!-- END Container -->
    </nav> <!-- END NAVBAR -->

    <!-- dipslay all reviews -->
    <table class="table">
    <thead>
      <tr>
        <th>Restaurant name</th>
        <th>Cuisine</th>
        <th>Dish</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Postalcode</th>
        <th>Description</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <% @search_results.each do |review| %>
        <tr>
          <td><%= review.restaurant_name %></td>
          <td><%= review.cuisine %></td>
          <td><%= review.dish %></td>
          <td><%= review.price %></td>
          <td><% review.rating.times { %> &#x272D; <% } %></td>
          <td><%= review.street %></td>
          <td><%= review.city %></td>
          <td><%= review.state %></td>
          <td><%= review.postalcode %></td>
          <td><%= review.description %></td>
          <td><%= review.user.email %></td>
          <td><%= link_to 'Show', review %></td>
          <td><%= link_to 'Edit', edit_review_path(review) %></td>
          <td><%= link_to 'Destroy', review, method: :delete, data: {confirm: 'Are you sure'} %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
