
<div class="panel panel-default">
  <div class="panel-body">
  Listing Reviews
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Restaurant name</th>
      <th>Cuisine</th>
      <th>Dish</th>
      <th>Price</th>
      <th>Rating</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Postalcode</th>
      <th>Description</th>
      <th>User</th>
      <th>See Review</th>
      <% if user_signed_in? %>
        <th>Edit</th>
        <th>Destory</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
    <tr>
      <td><%= image_tag review.image.url(:small) %></td>
      <!--this link_to will link you to specific restaurant just click the restaurant_name list with review_path(review) -->
      <td><%= link_to review.restaurant_name, review_path(review), class: "restaurant_link" %></td>

      <td><%= review.cuisine %></td>
      <td><%= review.dish %></td>
      <td>$<%= review.price %></td>
      <td><% review.rating.times { %> &#x272D; <% } %></td>
      <td><%= review.street %></td>
      <td><%= review.city %></td>
      <td><%= review.state %></td>
      <td><%= review.postalcode %></td>
      <td><%= review.description %></td>
      <td><%= review.user.email %></td>
      <td><%= link_to 'Show', review, class: "show_link" %></td>
      <% if user_signed_in? && current_user.id == review.user_id %>
        <td><%= link_to 'Edit', edit_review_path(review), class: "edit_link" %></td>
        <td><%= link_to 'Destroy', review, class: "destroy_link", method: :delete, data: {confirm: 'Are you sure'} %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="section-heading">
<% if !current_user.nil? %>
<%= link_to 'Create Review', new_review_path, :id => "new_review", :class => 'myButton' %>
<% end %>
</div>
