<p id="notice"><%= notice %></p>

<h1>Listing Reviews</h1>

<table class="table">
  <thead>
    <tr>
      <th>Restaurant name</th>
      <th>Cuisine</th>
      <th>Dish</th>
      <th>Price</th>
      <th>Rating</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Postalcode</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
    <tr>
      <td><%= review.restaurant_name %></td>
      <td><%= review.cuisine %></td>
      <td><%= review.dish %></td>
      <td><%= review.price %></td>
      <td><%= review.rating %></td>
      <td><%= review.street %></td>
      <td><%= review.city %></td>
      <td><%= review.state %></td>
      <td><%= review.postalcode %></td>
      <td><%= review.description %></td>
      <td><%= review.user.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>
